profiles { 
    standard {
        process.executor = 'local'
    }
    cluster {
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=true
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'

        conda.cacheDir = "/nfs/production3/ma/home/asolovyev/scmap-workflow/envs"
        conda.createTimeout = "30 min"
    }
}

params {
    input_dir=""
    ref_labels_file=""
    ontology_graph=""
    tool_perf_table=""
    cell_anno_table=""
    empirical_dist=""
    tool_table_pvals=""
    num_iter=""
    num_cores=""

}