profiles { 
    standard {
        process.executor = 'local'
    }
    cluster {
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=true
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'
        conda.createTimeout = "30 min"
    }
}

params {
    input_dir="$baseDir/data/test/pred_labs"
    ref_labels_file="$baseDir/data/test/metadata.tsv"
    ontology_graph="$baseDir/data/cl-basic.obo"
    condensed_sdrf="FALSE"
    parallel="TRUE"
    ontology_dict="cl_dictionary.rds"
    ontology_table="cl_dictionary.txt"
    tool_perf_table="tool_perf_table.tsv"
    empirical_dist="empirical_dist.rds"
    tool_table_pvals="tool_perf_pvals.tsv"
    cell_ontology_col="Factor.cell.type..ontology"
    barcode_col_ref="id"
    barcode_col_pred="cell_id"
    label_column_ref="Characteristic.cell.type."
    label_column_pred="predicted_label"
    semantic_sim_metric="edge_resnik"
    num_iter=5
    num_cores=1
    results_dir = "$baseDir/data/output" //output for outer workflow
}
